/* mes variables*/
$primary: rgb(0, 51, 80);
$secondary: rgb(249, 186, 0);
$info: rgb(78, 189, 223);
$light: rgb(191, 191, 191);
$light: white;
$success: rgb(234, 81, 81);

/* couleurs fil d'ariane */
$breadcrumb-divider-color: white;
$breadcrumb-active-color: white;

/* couleurs tableau */
$table-striped-bg: #fef7e3;
$table-hover-bg: $secondary;
